
AccessModifierOffset: -4
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Allman
ColumnLimit: 0
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
PointerBindsToType: true
SortIncludes: false
TabWidth: 4
UseTab: Never
