AccessModifierOffset: -4
AlignTrailingComments: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Allman
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentWidth: 4
PointerBindsToType: true
SortIncludes: false
Standard: Cpp17
TabWidth: 4
UseTab: Never
